/* src/components/Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: relative;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* Espaciado entre los elementos */
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ddd;
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Ocultar enlaces en pantallas pequeñas */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajustar según el tamaño de la navbar */
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex; /* Mostrar enlaces cuando el menú hamburguesa se activa */
  }

  .menu-toggle {
    display: flex; /* Mostrar menú hamburguesa */
  }
}
